.icon1{
display: flex;
margin-left: 150px;
}
.add{
    margin-top: -24px;
    margin-left: -79px;
}
.add1{
    margin-top: -20px;
    margin-left: 66px;
}
.addno{
     margin-top: -8px;
    margin-left: 4px;
}
.add5{
    margin-top: -24px;
    margin-left: -100px
}