.second{
    margin-left: -850px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.sports{
    display: flex;
    margin-left: 150px;
    font-size: 120px;
    font-weight: 100;
    margin-top: -30px;
    color: #a6cf46;
   font-family: 'Courier New', Courier, monospace;

}
.and{
    font-size: 18px;
    margin-top: 80px;
    font-weight: 400;
    color: black;
    
}
.enter{
    font-size: 120px;
    font-weight: 100;
    color:#64d3f6;
    margin-left: -290px;
    margin-top: -50px;
   font-family: 'Courier New', Courier, monospace;
}
.follow{
    display: flex;

}
.follow{
    padding: 5px;
    margin-left: 140px;
    margin-top: -40px;
}
.youtube{
    margin: 10px;
    border-radius: 50%;
    color: rgb(51, 197, 25,0.7);
}
.facebook{
    margin-left: -10px;
    margin-top: 10px;
    color: rgb(51, 197, 25,0.7);
}
.insta{
    margin-top: 20px;
    color: rgb(51, 197, 25,0.7);

}
.twitter{
    margin-top: 10px;
}
.social{
    display: flex;
}